@import url('https://fonts.cdnfonts.com/css/open-sans');
@import url('https://fonts.cdnfonts.com/css/satoshi');

@page {
    margin: 0cm 0cm;
}

/** Defina ahora los márgenes reales de cada página en el PDF **/
body {
    margin-top: 3.7cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
    font-size: 12px;
}

.logoGijac {
    position: absolute;
    width: 120px;
    height: 85px;
    left: 80px;
    top: -2%;
}

.logoConte {
    position: fixed;
    left: 20%;
    width: 500px;
    height: 480px;
    top: 30%;
    z-index: -100;
    opacity: 0.3;
}

.titulo {
    text-align: center;
    font-size: 25px;
}

.textoFooder {
    text-align: center;
}

.lista {
    padding-left: 10%
}

.firma {
    padding-top: 7%
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2cm;
    text-align: center;
    margin-bottom: 3%;
}

header {
    margin-top: 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2cm;
    text-align: center;
}

p {
    text-align: justify;
}

.firmaGijac {
    width: 30%;
}
